
@font-face {
  font-family: "Ubuntu-regular";
  src: url("fonts/Ubuntu-Regular.ttf");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  background-color: rgb(50, 57, 77);
  font-family: "Ubuntu-regular";
  font-size: 16px;
}

body{
  
  > h1{
    font-size: 3rem;
    text-align: center;
    color: black;
  }

  > .restart-btn{
    display: block;
    margin: auto;
    padding: 8px 24px 8px 24px;
    border: 0;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;

    &:hover{
      background-color: black;
      color: white;
    }
  }


  > .player-info-container{
    display: flex;
    justify-content: space-between;
    margin: 24px 16px 24px 16px;
    
    > .player-info{
      display: flex;
      gap: 20px;
      font-size: 2rem;

      &:nth-child(1){
        
        >:nth-child(1){
          color: green;
        }
      }

      &:nth-child(2){
        
        >:nth-child(1){
          color: red;
        }
      }
    }
  }

  > .announcements{
    margin: 24px 16px 24px 16px;
    text-align: center;
    font-size: 1.5rem;
    color: yellow;
  }

  .game-board-container{
    margin: auto;
    width: 600px;
    margin-top: 100px;
    margin-bottom: 32px;
    > .game-board{
      display: grid;
      grid-template-columns: 200px 200px 200px;
      grid-template-rows: 200px 200px 200px;

      > div{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 7rem;
        color: rgb(233, 233, 233);
      }

      > div:hover{
        background-color: rgb(42, 50, 73);
      }

      > .rb{
        border-right: 1px solid black;
      }

      > .bb{
        border-bottom: 1px solid black;
      }
    }
  }
}