
@font-face {
  font-family: "Ubuntu-regular";
  src: url("fonts/Ubuntu-Regular.ttf");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  background-color: rgb(50, 57, 77);
  font-family: "Ubuntu-regular";
  font-size: 16px;
}

body{
  
  > h1{
    font-size: 3rem;
    text-align: center;
    color: black;
  }

  .game-board-container{
    margin: auto;
    width: 600px;
    margin-top: 100px;
    > .game-board{
      display: grid;
      grid-template-columns: 200px 200px 200px;
      grid-template-rows: 200px 200px 200px;

      > div:hover{
        background-color: rgb(42, 50, 73);
      }

      > .rb{
        border-right: 1px solid black;
      }

      > .bb{
        border-bottom: 1px solid black;
      }
    }
  }
}